{block content}
    <div class="text-center mt-4">
        <h1 class="text-primary display-4">test2</h1>
        <p class="lead">test1.</p>
    </div>

    <div class="card mt-5 shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Send</h4>
        </div>
        <div class="card-body">
            {* Вот тут мы выводим нашу новую форму *}
            {control emailForm}
        </div>
    </div>
    
    <div class="card mt-5 shadow-sm border-warning">
    <div class="card-header bg-warning text-dark">
        <h4 class="mb-0">Závislé selectboxy (Země -> Město)</h4>
    </div>
    <div class="card-body">
        
        {snippet formSnippet}
            {form dependentForm}
                <ul class="alert alert-danger" n:ifcontent>
                    <li n:foreach="$form->ownErrors as $error">{$error}</li>
                </ul>

                <div class="mb-3">
                    {label country /}
                    {input country class => "form-control", data-link => $presenter->link('updateCity!')}
                </div>

                <div class="mb-3">
                    {label city /}
                    {input city class => "form-control"}
                </div>

                {input send class => "btn btn-primary"}
            {/form}
        {/snippet}

    </div>
</div>
{/block}