{block content}
    <p>Vítejte na hlavní stránce!</p>
    <div class="mt-4">
        <h3>Testování emailu</h3>
        <a n:href="sendEmail!" class="btn btn-primary">
            📧 Odeslat testovací email
        </a>
    </div>
{/block}