{block content}
    <h2 class="mb-4 text-primary">Список постов для Куми</h2>
    
    <div class="bg-white p-3 border rounded shadow-sm">
        {* Вот наше заклинание вызова грида *}
        {control grid}
    </div>
{/block}