{block content}
    <p><a n:href="Post:default"> < GO back < </a></p>
    <h1 class="mb-3">{$post->title}</h1>
    <div class="text-muted mb-4">
        <small>Published: {$post->created_at|date:'d.m.Y H:i'}</small>
    </div>
    <div class="card p-4 shadow-sm">
        <div class="post-content">
            {$post->content|breaklines}
        </div>
    </div>
    
    <div class="mt-3">
         <a n:href="Post:edit $post->id" class="btn btn-warning">Edit</a>
    </div>
{/block}